* {
    box-sizing: border-box;
}
.page-title {
    color: darkseagreen;
}

.menu {
    width: 200px;    
}

.menu-item::first-letter {
    color:darkred;
}

.menu-item {
    color: rgb(181, 120, 60);
    padding: 5px;
    font-size: 20px;
}

.cost-item {
    background-color:rgb(220, 208, 192);
    width: 30px;
    border-radius: 50%;
    text-align: center;
    color: rgb(181, 120, 60);
    float: right;
    margin-top: -30px;
    padding: 5px;
}